/* CLIENTS SECTION */
.clients {
    min-height: 90svh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.clients .base-layout {
    width: 100%;
}

.clients .title {
    font-size: 3rem;
    line-height: 1.1;
}

.clients .sub-title {
    font-size: 1.25rem;
    font-weight: 400;
}

.clients .clients-flex {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}


.clients-swiper {
    width: calc(250px + 8rem);
    aspect-ratio: 2 / 3;
    margin-left: 0 !important;
    margin-right: 0 !important;
    place-self: end;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    padding: 4rem;
}

.slide-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.client-slide {
    perspective: 1000px;
}

.slide-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    /* overflow: hidden; */
}

.client-slide .slide-inner.flipped {
    transform: rotateY(180deg);
}

.slide-front,
.slide-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 2px solid var(--clr-primary);

}

.slide-back {
    transform: rotateY(180deg);
    background-color: #f9f9f9;
}

.slide-inner .slide-back img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.slide-front {
    background: black;
    border: 2px solid var(--clr-primary);
    overflow: hidden;
    /* position: relative; */
}

.slide-front img {
    width: 100%;
    object-fit: contain;
    rotate: -90deg;
}

.client-info h4 {
    font-size: 1.75rem;
}

.client-info p {
    font-size: 1.125rem;
}

.slide-front .shine {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 200%;
    background: rgba(255, 255, 255, 0.5);
    /* Light color for reflection */
    transform: rotate(45deg);
    opacity: 0;
    pointer-events: none;
    /* Don't interfere with card interactions */
    transition: opacity 0.3s;
}

.clients-slider {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
}

.clients-slider .clients-slider-client {
    width: 20svw;
    overflow: hidden;
    transition: border-radius 300ms ease-out, filter 300ms ease-in-out;
}

.clients-slider-client img {
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    transition: scale 300ms ease-out;   
}
.clients-slider .clients-slider-client.hovered {
    border-radius: 25px;
    z-index: 10;
}
.clients-slider .clients-slider-client.hovered img {
    scale: 1.1;
}
.clients-slider .clients-slider-client.not-hovered {
    filter: blur(4px) grayscale(.5);
}
/* .featured-clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 2rem;
    padding-block: 3rem;
}

.featured-client {
    height: fit-content;
}

.featured-clients .slide-inner {
    max-width: 300px;
    aspect-ratio: 2 / 3;
}

.featured-client .client-info {
    padding-block: 1rem;
}
 */



@media (min-width: 769px) and (max-width: 1040px) {

    .clients .title {
        font-size: 2.5rem;
    }
    .clients-slider .clients-slider-client {
        width: 33svw;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {
    .clients .title {
        font-size: 2.25rem;
    }

    .clients-swiper {
        place-self: center;
    }

    .clients .clients-flex {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .clients-slider .clients-slider-client {
        width: 45svw;
    }

    /* .featured-clients {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .featured-client {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } */
    
}

@media (max-width: 576px) {
    .clients .title {
        font-size: 1.75rem;
    }

    .clients .sub-title {
        font-size: 1rem;
    }

    .client-info h4 {
        font-size: 1.25rem;
    }

    .client-info p {
        font-size: 1rem;
    }

    .clients-swiper {
        place-self: center;
    }

    .clients .clients-flex {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .clients-swiper {
        width: calc(200px + 4rem);
    }

    .swiper-slide {
        padding: 2rem;
    }
    .clients-slider .clients-slider-client {
        width: 55svw;
    }


    /* .featured-clients {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .featured-client {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } */
    
}