.cta-section {
    background-color: var(--clr-white);
    color: var(--clr-black);
}
.cta-section-inner {
    display: grid;
    grid-template-columns: 60% auto;
}

.cta-section .title {
    font-size: 3rem;
}

.cta-section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
.cta-section .content p {
    max-width: 50ch;
}
.cta-section .buttons {
    display: flex;
    gap: 1rem;
}
.cta-section .buttons button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: scale 200ms ease-out;
    padding: 0;
}

.cta-section .buttons img {
    width: 200px;
}

.cta-section .buttons button:hover,
.cta-section .buttons button:focus-visible {
    scale: 1.1  !important;
}

.cta-section .phone {
    position: relative;    
    overflow: hidden;
    isolation: isolate;
    width: 200px;
    border-radius: 30px;
    place-self: center;
}

.cta-section .phone .frame {
    width: 200px;
}

.cta-section .phone .screenshot {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-section .gold-filling {
    background:
        linear-gradient(45deg, #FEDB37 0%, #FDB931 12%, #d6a438 20%, #a07d2b 35%, var(--clr-black) 50%, var(--clr-black) 50%);
    background-size: 300%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}