footer {
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}
footer .logo {
    width: min(250px, 80%);
}

footer .footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-links .footer-cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links .footer-cta button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: scale 200ms ease-out;
    padding: 0;
}
.footer-links .footer-cta img {
    width: 200px;
}

.footer-links .footer-cta button:hover,
.footer-links .footer-cta button:focus-visible {
    scale: 1.05  !important;
}

.footer-links .social-media-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.social-media-list .social-media svg {
    width: 70px;
    height: 70px;
}